@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h1>@ViewData["Title"]</h1>
                    <h2 id="external-login-title">Associate your @Model.ProviderDisplayName account</h2>
                </div>
                <div class="card-body">
                    <p id="external-login-description" class="text-info text-center">
                        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                        Please enter an email address for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <hr />
                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="form-floating mb-3">
                            <label asp-for="Input.FullName" class="form-label">Full Name</label>
                            <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .container {
        max-width: 900px;
    }

    .card {
        border-radius: 10px;
    }

    .card-header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .form-floating {
        position: relative;
    }
</style>
